* {
    margin: 0;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    font-weight: bold;
}

.container {
    width: 1283px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 243px;
    font-size: 64px;
    font-weight: 700;
}

.parent {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.left {
    color: #FFFFFF;
    background-color: #ff0000;
    width: 450px;
    height: 400px;
    padding: 150px;
    box-sizing: border-box;
    font-size: 64px;
    font-weight: bold;
    margin: auto;
}
.var{
    margin-top: 70px;
}